<div class="div-img">
<img class="img" src="../../../assets/images/ATOM.jpg" (click)="abrePreview = true;">
</div>
<preview-menu [(abrePreview)]="abrePreview" class="preview">
  <div class="container">
    <form [formGroup]="cardForm">
      <span>Login</span>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput id="login" placeholder="Digite seu usuario" [type]="text" formControlName="login">                      
          <i  matSuffix class="material-icons">person</i>
        </mat-form-field>
      </p>      
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput  id="senha" placeholder="Digite sua senha"[type]="password ? 'password' : 'text'" formControlName="senha">            
          <mat-icon matSuffix (click)="password = !password">{{password ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </p>         
    </form>
    <button mat-raised-button color="primary" (click)="fazerLogin()" [disabled]="cardForm.invalid">Entrar</button>   
  </div>
</preview-menu>
