.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.inputsLogin{
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  height: 380px;
  background: linear-gradient(#D10000, rgb(0, 0, 0));
  color: white;
}

.contentLogin {
  background: rgba(255, 255, 255, 0.35);
  color: #FFF;
  padding: 35px;
}

.btn-login {
  width: 100%;
  margin-top: 35px;
}

.form-group {
  margin-bottom: 0;
}
.desfoque {
  padding: 0;
}
.invalid-feedback {
  margin: 0;
}

.tudo {
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family:Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}

.blurred-bg {
	background-repeat:no-repeat;
	background-size: cover;
  background-attachment: fixed;  
}
.box{
	width:500px;
	height:300px;
  left:-webkit-calc( 50% - 250px );
  top:20%;
	position:absolute;
	border-radius:5px;
	box-shadow: (0 20px 30px rgba(0,0,0,.6));
	border:1px solid rgba(255,255,255,.3);
	padding:20px;
	text-align: center;
	box-sizing: (border-box);
	text-shadow:0 1px 1px rgba(0,0,0,.4);
  display: flex;
  transition: box-shadow .3s ease;
  
	&:active{
    cursor:move;
    box-shadow: (0 20px 50px rgba(0,0,0,.9));
  }
  
  .content{
    margin: auto;
  }
}
h1,h2,a,p{
	color:white;
	font-weight:100;
  
	.tinted &{
		color:black;
		text-shadow:0 1px 1px rgba(255,255,255,.2);
	}
}
h2{ font-size: 14px }
p{ 
  margin: 20px;
  &.related{
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
    
    a{
      font-weight: 700;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

