.principal {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;

  h5 {
    margin-left: 32px;
    margin-top: 23px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: medium;
    position: absolute;
  }

  .caixa-pesquisa {
    margin-top: 16px;
    right: 17px;
    width: 469px;
    height: 56px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }

  .tabela {
    top: 88px;
    left: 16px;
    right: 16px;
    position: absolute;

    .mat-elevation-z8 {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      box-shadow: none;
      font-size: 16px;
    }

    .tr-style {
      -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.24);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.24);
      border-radius: 5px !important;
      background-color: white;
    }

    .th-style {
      border-radius: 5px;
      border: 0 !important;
    }

    tr.element-usuario:hover {
      background: #dadadac5;
    }

    tr.element-usuario:active {
      background: #efefef;
    }

    table {
      background: transparent;
    }

    .td-style {
      text-align: left;
      width: 100px;
    }

    .td-style-codigo {
      text-align: left;
      width: 100px;
    }
  }

  .btn-novo {
    position: fixed;
    bottom: 24px;
    right: 22px;
    width: 56px;
    height: 56px;

    .mat-fab.mat-accent {
      color: #fff;
    }
  }
}

.preview-menu {
  position: relative;

  h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    top: 15px;
    left: 16px;
    color: #5e285e;
  }

  .input {
    width: 288px;
    height: 51px;
    margin-top: 37px;

    .mat-form-field-infix {
      font-family: 'Roboto Regular';
      font-size: 16px;
      color: #000;
    }
  }

  .btn-cancel {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 136px;
    height: 40px;
    color: #5e285e;
    border: 2px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
  }

  .btn-edit {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 136px;
    height: 40px;
    background-color: #5e285e;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;

    &:active {
      background-color: rgba(94, 40, 94, 0.9);
    }
    &:hover{
      background-color: rgba(94,40,94, 0.93);
    }
  }
}

// TRATAMENTO DE ERRO
.mat-carregamento {
  width: 85%;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.div-erro {
  width: 100%;
  color: red;
  text-align: center;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

// ------------------
